body{
	font-family: Raleway;
	overflow-x: hidden;
}

.jumbotron-fluid{
	/*background-image: url(../img/bg.png);*/
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.png");
	height: 75vh;
}
.ash-bg{
	background-color: #808080;
}
.icon-primary{
	color: #3A6FAC;
}
.search-btn{
	background-color: #3A6FAC;
	color: #ffffff;
}
.dark-gray-bg{
	background-color: #818181;
}
.learning-img-div{
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/learning.png");	
	background-size: cover;
}
